{% load static %}

<html>
    
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/notice_board.css' %}">

    </head>
    <body>
        <!-- .navbar -->
        <nav class="navbar" class="fixed">
            <ul class="navbar-list">
                <li class="navbar-item"><a class="navbar-link" href="/">掲示板</a></li>
                <li class="navbar-item"><a class="navbar-link" href="profile">プロフィール</a></li>
            </ul>
        </nav>
        <!-- /.navbar -->

        {% block content %}
        {% endblock %}
        
    </body>
</html>