/*全体*/
body {
    color: darkslategrey;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic";
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: .8px;
    word-break: break-all;
    color: #333;
    padding-top: 60px;
  }
  
  ul,
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
  }
  
  /*navbar*/
  .navbar {
    position: fixed;
    top: -10;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 60px;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 3px -3px rgba(255, 91, 91, 0.2);
    -moz-box-shadow: 0 3px 3px -3px rgba(241, 79, 79, 0.2);
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
    background-color: #333;
  }
  
  .navbar-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0%;
  }
  
  
  .navbar-item {
    font-family: "Open sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 0 24px;
    letter-spacing: .05em;
  }
  
  .navbar-link {
    position: relative;
    display: inline-block;
    padding: 20px 0;
    -webkit-transition: .3s;
    transition: .3s;
    color: #fff;
  }
  
  .navbar-link:hover {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-link:after {
    position: absolute;
    bottom: 10;
    left: 50%;
    width: 0;
    height: 3px;
    content: "";
    transition: .3s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #fff;
  }

  /*section*/

  .section {
    max-width: 1000px;
    text-align: center;
    margin : 0 auto;

  }

  
  /*category-section*/
  .category-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  .category-item {
    flex: 0 0 46%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    margin: 0 auto;
  }
  
  .category-title {
    margin: 100 auto;
  }

  .category-item .btn {
    margin: 25 auto;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    width: 300px;
    height: 45px;
  }

  .category-title h3 {
    background: linear-gradient(transparent 95%, #333 20%)
  }

  .btn-1 {
    background-color: #ff6;
  }
  .btn-2 {
    background-color: #6f6;
  }
  .btn-3 {
    background-color: #6ff;
  }
  .btn-4 {
    background-color: #c6f;
  }
  .btn-5 {
    background-color: #f69;
  }
  .btn-6 {
    background-color: #f96;
  }

  .add-thread {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .add-thread h3{
    margin: 120 auto 70;
  }

  .thread-form-category {
    width: 150px;
    height: 40px;
    margin-bottom: 20px;
  }
  
  .thread-form-title {
    width: 600px;
    height: 40px;
  }

  .add-thread-btn {
    margin: 25 auto;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    width: 150px;
    height: 40px;
    background-color: #ccc;
  }

  /*profile-section*/
  .profile-body {
    width: 450px;
    margin: 80px auto 0;
    text-align: left;
  }

  .profile-title h3 {
    margin: 100 auto;
    background: linear-gradient(transparent 95%, #333 20%)
  }

  .profile-section h4 {
    margin: 40 auto;
  }

  .logout-btn {
    margin: 50 auto;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    width: 150px;
    height: 40px;
    background-color: #ccc;
  }

  /*login-section*/
  .login-section h3 {
    margin: 100px auto;
    background: linear-gradient(transparent 95%, #333 20%)
  }

  .signup-btn {
    margin: 50px auto;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    width: 370px;
    height: 40px;
    background-color: #ccc;
  }

  .login-form {
    width: 400;
    text-align: center;
    margin: 0 auto;
  }

  .login-input {
    padding: 15px 10px 15px 50px;

  }

  .login-btn {
    margin: 30px auto 30px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    width: 100px;
    height: 40px;
    background-color: #ccc;
  }

  /*report-section*/
  .report-title h3 {
    margin: 100px auto;
    background: linear-gradient(transparent 95%, #333 20%)
  }

  .report-body {
    width: 700px;
    margin: 50px auto;
    background-color: #EEE;
    padding: 50px 50px;
  }

  .report-content {
    
  }

  

  /*thread-list-section*/
  .thread-list-section h3 {
    margin: 100px auto;
    background: linear-gradient(transparent 95%, #333 20%)
  }

  .thread-list {
    margin: 50px auto; 
  }

  .thread-title-btn{
    font-size: 28px;
  }

  /*thread-detail-section*/
  .thread-detail-section {
    width: 800px;
  }
  .thread-detail-title {
    margin: 100px auto;
  }

  .thread-detail-list {
    background-color: #EEE;
    padding: 50px 50px;
  }

  .thread-detail-section h2 {
    background: linear-gradient(transparent 95%, #333 20%)
  }

  .thread-detail {
    margin: 50px auto; 
  }

  .thread-title-btn{
    font-size: 28px;
  }

  .thread-detail-list {
    text-align: left;
  }
  
  .post {
    margin: 40px auto;
  }

  .thread-detail-list p {
    font-size: 12px;
  }

  .post-form {
    margin: 100px auto 20px;
  }

  .post-text {
    width: 500px;
    height: 200px;
  }
  .add-post-btn {
    margin: 40 auto;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    width: 150px;
    height: 40px;
    background-color: #ccc;
  }